*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Poppins", sans-serif;
   background-color: rgb(223, 223, 223);
}


.search-card img{
   width: 30%;
}

#item-details {
   background-color: ghostwhite;
}

.show-all-items {
   display: none;
}

.show-all-items:hover {
   text-decoration: underline;
}

#load_spinner {
   display: none;
   margin: auto;
}